@model SupportCore.Models.Field

<div class="p-7">
<form asp-action="FieldConfig"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-success="closeWin()">
    <div class="form-group">
        <label>Варианты</label>
        <textarea rows="10" cols="40" asp-for="Configuration" style="height:unset" ></textarea>
        <span asp-validation-for="Configuration"></span>
    </div>
        <input asp-for="Id" hidden />
        <div class="pt-7">
            <button type="submit" class="button primary"><span class="mif-floppy-disk"> Сохранить</span></button>
        </div>
</form>
    </div>
   