@model SelectList    
 <select id="@ViewData.TemplateInfo.HtmlFieldPrefix" name="@ViewData.TemplateInfo.HtmlFieldPrefix" class="form-control" asp-items="Model">
        <option value="">Выберите из списка</option>
 </select>
