html {
    font-size: 14px;
}

@media screen and (min-width: 576px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 15px !important;
    }
    input {
        line-height: unset !important;
        height: 30px !important;
    }
    select {
        line-height: unset !important;
        height: 30px !important;
    }
    div.input {
        height: 32px !important;
    }
    .input .button{
        height:30px !important;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 20px;
    }
}

label {
    font-weight: 600;
}
fieldset {
    border: 1px #ccc dashed;
    padding: 0 1.4em 0.2em 1.4em;
    /*margin: 0 0 1.5em 0;*/
    border-radius: 8px;
    /*margin: 0 5px;*/
    height: auto;
    /* max-width:500px; */
    /*padding:16px;*/ 
}
/*Overload chartist*/
.ct-bar {
    stroke-width: 30px !important;
}
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
    stroke: #306fd1 !important;
}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
    fill: #306fd1 !important;
}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
    fill: #2cb019 !important;
}
.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
    fill: #004d6f !important;
}
.ct-label {
    color: rgba(0, 0, 0, 0.8) !important;
}
/*Overload select 2*/
.select2-container {
    width:100% !important;
}
/*for select whith button*/ 
.wbutton {
    width: 90% !important;
    display:inline-block;
}
div.inbutton {
    display: inline-block;
    width: 10%;
}
/*Overload metro dd*/
dl.horizontal dt {
    text-align: left !important;
}

.calendar-header {
    padding: 0.3rem !important;
}
.calendar-content .calendar-toolbar{
    padding:0rem !important;
}
.calendar-content .week-days, .calendar-content .days {
    padding:unset !important;
}
/*.window{
    display:none !important;
}*/
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    position: relative;
    border: 1px #d9d9d9 solid;
    color: #1d1d1d;
    width: 100%;
    display: block;
    padding: 0 .75rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    background: #ffffff none;
    background-clip: padding-box;
    min-width: 0;
}

legend {
    font-weight: bold;
    position: relative;
    text-transform: lowercase;
    color: gray;
    font-size: 1rem;
    line-height: 1rem;
}
.field-validation-error {
    font-size: 0.8rem;
    font-weight: normal;
    color: red
}

.field-validation-valid {
    display: none
}
.input-validation-error div {
    border: 1px #CE352C solid !important;
    background-color: #fee !important;
}
input.form-control.input-validation-error {
    border: 1px #CE352C solid !important;
    background-color: #fee !important;
}
input.input-validation-error {
    border: 1px #CE352C solid !important;
    background-color: #fee !important;
}
select.input-validation-error {
    border: 1px #CE352C solid !important;
    background-color: #fee !important;
}
.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
.required {
    color: #ff0000;
}
/*.select2-hidden-accessible {
    display: none;
}*/
/*editable table */

.dataTable td.ellipsis {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

.thead {
    display: table-header-group;
    color: gray;
    font-weight: bold;
    /*background-color: grey;*/
}

.tbody {
    display: table-row-group;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    /*border: 1px solid black;*/
    padding: 0.02rem;
    width: 1000px;
}

.tr.editing .td INPUT {
    width: 100px;
}

.trumbowyg-box.trumbowyg-editor-visible {
    display:inline-block !important;
    min-height: 200px !important;
    height: 200px !important;
    margin: 0 auto !important;
}

.trumbowyg-button-pane {
    /*width: 100%;
    min-height: 36px;
    background: #ecf0f1;
    border-bottom: 1px solid #d7e0e2;
    margin: 0;
    padding: 0 5px;*/
    position: unset !important;
    /*list-style-type: none;
    line-height: 10px;
    backface-visibility: hidden;
    z-index: 11;*/
}

.trumbowyg-editor {
    min-height: 160px !important;
    /*height: 200px !important;
    margin: 0 auto !important;*/
}