@model SupportCore.ViewModels.AccountView

<h2 class="text-light"> <span class="mif-user-plus place-right"></span></h2>
<h4>@ViewData["name"]</h4>
<hr />
<div data-step="3" data-role="stepper" id="step"></div>
<hr />
<h2 class="text-light">Учетные данные<span class="mif-security place-right"></span></h2>
<form asp-action="Register" id="Register" 
        data-ajax="true"
        data-ajax-method="POST"
        data-ajax-update="#cell-content"
        data-ajax-mode="update">
    @Html.EditorForModel()
    <div asp-validation-summary="ModelOnly"></div>
    <button type="submit" value="Create" class="button primary">Создать..</button>
    <a asp-action="Index" asp-controller="Person"
       data-ajax="true"
       data-ajax-method="GET"
       data-ajax-update="#cell-content"
       data-ajax-mode="update"
       class="button secondary" data-role="button">К списку</a>
</form>   
           
<script>
                $(document).ready(function () {
                    var form = $.validator.unobtrusive.parse('#Register');
    })
</script>
