@model SupportCore.Models.Tasks

<h3>Вы уверены что хотите удалить задачу?</h3>
<hr />
<dl>
    <dt>
        <label asp-for="Title"></label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
</dl>
<dl>
    <dt>
        <label asp-for="Number"></label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Number)
    </dd>
</dl>

<form asp-action="Delete" id="end"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-update="#Tasks"
      data-ajax-mode="update"
      data-ajax-failure="onError('Невозможно удалить задачу')">
    <input type="hidden" asp-for="Id" />
</form>