@model SupportCore.App.Classes.ReadmineIssue
<div class="p-4-md">
    @if (Model == null)
    {
        <h5>Данные не получены. Проверте ключ доступа к API в настройках профиля.</h5>

    }
    else
    {
        <h5>Информация по задаче</h5>
        <hr class="thin bg-grayLighter" />
        @Html.DisplayForModel()
    }
</div>
