@model SupportCore.Models.Organization

<h3>Вы уверены что хотите удалить организацию?</h3>
    <hr />
  <dl>
    <dt>
        <label asp-for="Name"></label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>
<dl>
    <dt>
        <label asp-for="Email"></label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
</dl>
<dl>
    <dt>
        <label asp-for="Telephone"></label>
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Telephone)
    </dd>
</dl>
    
    <form asp-action="Delete" id="end"
         data-ajax="true"
         data-ajax-method="POST"
         data-ajax-update="#cell-content"
         data-ajax-mode="update">
        <input type="hidden" asp-for="Id" />  
    </form>